<div class="conteiner-header">
  <h1 class="titulo-header">CaixaDrive Concessionária</h1>

  <div class="botoes-header">
    <button class="material-icons" [class.active]="rotaAtual() === '/catalogo'" (click)="navigate('catalogo')" >directions_car</button>
    <button class="material-icons" [class.active]="rotaAtual() === '/perfil'" (click)="navigate('perfil')" >person</button>
    <button class="material-icons" [class.active]="rotaAtual() === '/login'" (click)="navigate('login')" >login</button>
  </div>
</div>
